// Process-specific Options

process {
    container = 'selkamandcci/micrite-screen:0.0.2'

    withName: FETCH_UNMAPPED_PRE {
        cpus = 2
    }

    withName: FETCH_UNMAPPED_POST {
        cpus = 2
    }

    withName: ALIGN_BOWTIE2 {
        cpus = 2
    }

    withName: HOST_DEPLETION_STATS_FASTQ {
        cpus = 2
    }

    withName: HOST_DEPLETION_STATS_BAM {
        cpus = 2
    }


    withName: KRAKENUNIQ {
        cpus = 4
        ext.preload_size = "2G"
    }
}

profiles {
    singularity {
        singularity.enabled = true
    }
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    researchvm {
        singularity.enabled = true

        process {
            withName: FETCH_UNMAPPED_PRE {
                cpus = 16
            }
            withName: FETCH_UNMAPPED_POST {
                cpus = 16
            }
            withName: ALIGN_BOWTIE2 {
                cpus = 16
            }
            withName: HOST_DEPLETION_STATS_FASTQ {
                cpus = 2
            }
            withName: HOST_DEPLETION_STATS_BAM {
                cpus = 2
            }
            withName: KRAKENUNIQ {
                cpus = 16
                ext.preload_size = "128G"
            }
        }
    }
    test {
        docker.enabled = true
        params {
            bam = "${projectDir}/testfiles/data/aligned.no_decoy.bam"
            ref = "${projectDir}/testfiles/data/ref/ref.fa"
            decoys = "${projectDir}/testfiles/data/decoys.txt"
            kraken_db = "${projectDir}/testfiles/data/dbs/minuku"
            sampleid = "testsample"
        }
    }
    test_fastq {
        docker.enabled = true
        params {
            mode = "fastq"
            r1 = "${projectDir}/testfiles/data/unmapped_fastqs/test_fastq.R1.fq.gz"
            r2 = "${projectDir}/testfiles/data/unmapped_fastqs/test_fastq.R2.fq.gz"
            ref = "${projectDir}/testfiles/data/ref/ref.fa"
            kraken_db = "${projectDir}/testfiles/data/dbs/minuku"
            decoys = "${projectDir}/testfiles/data/decoys.txt"
            sampleid = "testsample"
        }
    }
}

report {
    enabled = true
    overwrite = true
    file = "results/${params.sampleid}.report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "results/${params.sampleid}.timeline.html"
}

dag {
    enabled = false
    overwrite = true
    file = "results/${params.sampleid}.dag.html"
}
