/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.container = 'selkamandcci/micrite-screen:0.0.1'
docker.enabled = true

